 .logo{
    width:20%;
    display: flex;
    align-items: center;  
    cursor: pointer;
}
.logo>h1{
    font-size: 40px;
    font-weight: bold;
    font-family:-apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    margin-bottom: 6px;
    background-clip: text;
    background: linear-gradient(to top right, rgb(234, 54, 165), rgb(235, 21, 167), rgb(255, 55, 0),rgb(255, 30, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}